/* ===== FONTS ===== */
@font-face {
    font-family: 'Theinhardt';
    src: url('assets/fonts/Theinhardt-Md.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Theinhardt';
    src: url('assets/fonts/Theinhardt-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Theinhardt';
    src: url('assets/fonts/Theinhardt-It.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Theinhardt';
    src: url('assets/fonts/Theinhardt-Rg.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Theinhardt';
    src: url('assets/fonts/Theinhardt-Hv.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ===== BASE STYLES ===== */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Theinhardt', sans-serif;
  font-weight: 400;
  color: #222222;
  margin: 0;
  background-color: white;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-family: "Antonio", sans-serif;
  font-weight: 500;
  font-size: 72px;
  text-transform: uppercase;
}

h2 {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #222222;
  cursor: pointer;
}

input, button {
  font: inherit;
}

button {
  cursor: pointer;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

*:disabled {
  cursor: not-allowed;
}

.hidden {
  display: none;
}

fieldset{
  padding: 0;
  margin: 0;
  border: 0;
  margin-top: 4px;
}

legend{
  font-weight: 400;
}

.position-sticky{
  position: sticky;
  top: 24px;
  padding-bottom: 40px;
}

/* ===== UTILITY CLASSES ===== */

.primary-button {
  font-weight: 500;
  background-color: #222222;
  color: white;
  line-height: 20px;
  padding: 10px 16px;
  border: none;
  border-radius: 10px; 
  transition: transform ease 0.2s;
}

.primary-button:hover, .secondary-button:hover, .card-buttons:hover{
  transform: scale(0.95);
}

.primary-button:disabled {
  background-color: #8E8E8E;
  opacity: 0.6;
}

.primary-button:disabled:hover, .secondary-button:disabled:hover{
  transform: none;
}

.secondary-button {
  font-size: 16px;
  color: #222222;
  background-color: white;
  line-height: 20px;
  padding: 8px 16px;
  border: 1px solid #222222;
  border-radius: 8px;
  transition: transform ease 0.2s;
}

.secondary-button:disabled{
  background-color: #F5F7F9;
  border: 1px solid #CDD5DF;
  color: rgba(0, 0, 0, 0.5);
}

.active.secondary-button {
  color: white;
  background-color: #222222;
}

.back-button{
  display: inline-flex;
  padding: 8px 12px 8px 8px;
  border-radius : 6px;
  align-items: center;
  gap: 4px;
  color: #222222;
  border: 1px solid #E9E9E9;
  margin-bottom: 32px;
}

.back-button > svg {
  width: 16px;
}

/* ===== LAYOUT ===== */
.main-containers {
  position: relative;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 32px;
  margin-top: 64px;
}

.title-wrapper {
  padding-bottom: 40px;
}

.title-wrapper > h1 {
  text-align: center;
}

#tradeshow-buttons_wrapper{
  display: flex;
  width: 95%;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  margin-bottom: 56px;
  position: sticky;
  top: 32px;
  z-index: 100;
  padding: 8px 0px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
}

#tradeshow-buttons_wrapper.active{
  border: 1px solid white;
  backdrop-filter: blur(3px);
  box-shadow: 0px 3px 12px -4px rgba(0,0,0, 0.15);
  background-color: rgba(255,255,255, 0.75);
}

.content-container{
  position: relative;
}

#dynamic-filters-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr auto;
  align-items: center;
  gap: 32px;
}

.pagination-buttons_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: 36px;
}

.pagination-buttons_wrapper button{
  height: 100%;
}

.microview-header_wrapper{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.microview-header_wrapper .booth-number{
  line-height: 16px;
  margin-top: 16px;
}

.microview-buttons_wrapper{
  display: flex;
  gap: 16px;
  align-items: baseline;
  margin-top: 32px;
}


/* ===== NAVIGATION ===== */
.nav-wrapper {
  height: 80px;
  display: flex;
  padding-right: 32px;
  border-bottom: 1px solid #222222;
}

.nav-wrapper > a {
  display: flex;
}

.nav-wrapper img {
  width: 72px;
  padding: 0 32px;
  border-right: 1px solid #222222;
}


/* ===== COMPONENTS ===== */

#tradeshow-buttons_wrapper input[type="radio"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

#tradeshow-buttons_wrapper label {
  font-weight: 500;
  padding: 8px 16px;
  line-height: 20px;
  border-radius: 8px;
  transition: all ease 0.25s;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  background-color : #222222;
  color: white;
}

#tradeshow-buttons_wrapper input[type="radio"]:not(:checked) + label:hover {
  background-color: #EEF2F6;
}

#filters-container{
  margin-bottom: 32px;
}

.custom-dropdown_container{
  position: relative;
  padding: 8px 14px;
  border: 1px solid #CDD5DF;
  color: #697586;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.custom-dropdown_container:focus-within{
    outline: 2px solid #222222;
}

.dropdown-button{
  display: flex;
  justify-content: space-between;
}

.dropdown-button > img {
  transition: all 0.2s;
}

.dropdown-options{
  position: absolute;
  z-index: 100;
  box-sizing: border-box;
  width: 100%;
  margin-top: 16px;
  margin-left: -14px;
  background: white;
  border: 1px solid #CDD5DF;
  border-radius: 8px;
  color: #222222;
  box-shadow: 0 8px 24px -12px rgba(0, 0, 0, 0.1);
}

.dropdown-option{
  padding: 8px 14px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.dropdown-option:hover{
  background-color: #EEF2F6;
}

.selected-text{
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected-text.has-value{
  color: #222222
}

.checkbox-container{
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
}

/* Card */
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  border: 1px solid #C6C6C6;
  border-radius: 12px;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.card.hidden-out {
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
}

.card.hidden-initial {
  opacity: 0;
  transform: translateY(10px);
}

.card_content-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  line-height: 24px;
}

.card-title {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
}

.card-country {
  font-size: 14px;
  color: #8E8E8E;
}

.country-and-category{
  display: flex;
  height: 24px;
  align-items: center;
  font-size: 14px;
  color : #8E8E8E;
  gap: 8px;
  margin-top: -4px;
}

.horizontal-separator {
  width : 16px;
  height: 1px;
  background-color: #8E8E8E;
}

.tradeshow-booth_wrapper{
  display: flex;
  gap: 8px;
  line-height: 16px;
  align-items: center;
}

.booth-number{
  color: #3D39FF;
  background-color: #E0E4FF;
  border: 1px solid #3D39FF;
  border-radius: 4px;
  padding: 3px 6px;
}

.card-buttons_wrapper{
  display: flex;
  gap: 8px;
}

.card-buttons {
  width: 45px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #393939;
  border-radius: 10px;
  transition: transform ease 0.2s;
}

.card-buttons.black{
  background-color: #393939;
}

.card-buttons > img {
  width: 18px;
}

.card-buttons.black > img{
  margin-left: -1px;
  margin-bottom: -2px;
}

/* Searchbar */
#searchbar_wrapper {
  width: 100%;
  height: 100%;
}

#searchInput {
  padding: 8px 14px 8px 42px;
  border: 1px solid #CDD5DF;
  border-radius: 8px;
  background: url('assets/img/search-lg.svg') no-repeat 14px center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#searchInput:focus {
  outline: 2px solid #222222;
}

#searchInput:disabled {
  background-color: #F5F7F9;
  border: 1px solid #CDD5DF;
}

input::placeholder {
  color: #697586;
}

/* Exhibitors List */
#exhibitors-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#noResults {
  padding: 24px;
  background-color: #F5F7F9;
  border-radius: 12px;
  border: 1px solid #CDD5DF;
  text-align: center;
}

/* Pagination */
.pagination-buttons_wrapper button{
  padding: 6px 16px;
  border-radius: 8px;
}

.pagination-buttons_wrapper > *:first-child{
  padding: 6px 16px 6px 10px;
}

.pagination-buttons_wrapper > *:last-child{
  padding: 6px 10px 6px 16px;
}

.number-buttons{
  display: flex;
  gap: 6px;
}

.number-buttons button{
  padding: 6px 0px;
  border: 1px #E9E9E9 solid;
  border-radius: 6px;
  width: 32px;
  height: 100%;
  font-size: 14px !important;
}

.number-buttons button.active{
  border: 1px #222222 solid;
}

/* Filters */

.searchbar-list_wrapper {
  width: 70%;
}

#export-pdf_button {
  margin-top: 16px;
  width: 100%;
}

/* Microview */
.microview-only #list-container {
  display: none;
}

.microview-only #microview-container {
  display: block;
}

#microview-category{
  color: #8E8E8E;
}

#microview-title{
  font-size: 40px;
  font-weight: 500;
  line-height: 40px;
}


.microview_specifications-wrapper{
  margin-top: 24px;
  margin-bottom: 32px;
  display: flex;
  column-gap: 80px;
}

.microview_details-wrapper{
  display: flex;
  flex-direction: column;
}

.microview_details-wrapper > span{
  text-transform: uppercase;
  font-weight: 500;
  color: #222222;
  font-size: 16px;
}

.microview_details-wrapper > p {
  color: #8E8E8E;
  margin-top: -4px;
}

#microview-contact_button{
  margin-top: 40px;
  padding: 12px 20px;
  border-radius: 6px;
}

.microview-buttons_wrapper .primary-button{
  font-weight: 400;
}

/* Checkbox */
input[type="checkbox"] {
  accent-color: black;
}

/* Loader */
.loader {
  border: 4px solid #eee;
  border-top: 4px solid #222222;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Footer */
footer {
  margin: 40px 0px;
}

/* Tablette */
@media (max-width: 1024px) {
  
  h1{
    font-size: 64px;
  }

  .main-containers{
    padding: 0 24px;
    margin-top: 56px;
  }

  .title-wrapper{
    padding-bottom: 56px;
  }

  #dynamic-filters-container{
    grid-template-columns: 1fr 1fr 1fr auto;
    grid-template-rows: 1fr 1fr;
  }

  #dynamic-filters-container > *:first-child{
    grid-column: 1 / -1;
    grid-row: 1;
  }

  #searchbar_wrapper, #searchInput{
    height: auto;
  }

  #microview-container{
    margin-top: 24px;
  }

  #microview-title{
    font-size: 32px;
  }

}

/* Mobile */
@media (max-width: 768px) {
  
   h1{
    font-size: 56px;
  }

  h2{
    font-size: 20px;
  }

  .main-containers{
    padding: 0 16px;
    margin-top: 48px;
  }

  .title-wrapper{
    padding-bottom: 48px;
  }

  #tradeshow-buttons_wrapper{
    margin-bottom: 32px;
    gap: 6px;
  }

  #tradeshow-buttons_wrapper label{
    padding: 6px 12px;
  }

  #dynamic-filters-container{
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .checkbox-container{
    justify-content: flex-start;
  }

  .searchbar-list_wrapper{
    margin-top: -28px;
  }

  .card{
    gap: 8px;
    padding: 12px 20px;
  }

  .focus-and-category{
    flex-direction: column;
    gap: 4px;
  }

  .focus-and-category > span {
    display : none;
  }
  
  .card-buttons{
    width: 40px;
    height: 35px;
  }
    
  #microview-container{
    margin-top: 16px;
  }

  .microview-header_wrapper{
    flex-direction: column;
  }

  .focus-and-category-microview{
    margin-top: 16px;
  }

  #microview-title{
    font-size: 24px;
  }
  
  #microview-contact_button{
    margin-top: 24px;
    padding: 12px 20px;
  }

  .divider{
    margin: 32px 0px;
  }

  .microview_specifications-wrapper{
    grid-template-columns: 1fr;
  }

  .pagination-buttons_wrapper{
    justify-content: center;
  }
  
  .pagination-buttons_wrapper > .secondary-button {
    display: none;
  }

}